.pageBox {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.fp-overflow {
    height: 100%;
}

.aboutMeBox {
    display: flex;
    width: 100%;
    height: 100%;
    margin-top: 240px;
    z-index: 5;
}

.typedBox {
    display: flex;
    flex-flow: column;
    align-items: center;
    top: 140px;
    left: 0;
    width: 100%;
}

.typedText {
    font-family: 'Cinzel', serif;
    font-size: 56px;
    text-shadow: 0 0 5px grey;
}

.moreInfoContainer {
    display: flex;
    width: 100%;
    height: 100%;
}

.moreInfoBox {
    display: flex;
    align-items: center;
    background-image: url("./Background\ 4.jpg");
    background-size: cover;
    animation-name: moreInfoBox;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    box-shadow: 0 0 10px grey;
    border-radius: 15px;
    padding: 10px;
    width: fit-content;
    height: fit-content;
}

.moreInfoText {
    display: flex;
    float: left;
    text-indent: 20px;
    text-align: justify;
    font-family: 'Cinzel', serif;
    letter-spacing: 1.6px;
    color: white;
    text-shadow: 0 0 8px rgb(87, 83, 83);
    margin: 0;
    padding: 20px;
    width: 60%;
}